// brand colors
$brand-color-dark: rgb(64,153,122);
$brand-color-neutral: rgb(121,183,161);
$brand-color-light: rgb(211,242,224);
// main colors
// $main-color-light: rgb(249,249,249);
$main-color-light: rgb(245, 247, 250);
$main-color-dark: rgb(145,145,145);
$main-color-black: rgb(10,10,10);
// maybe colors
$brand2-color-dark: #ED5565;
$brand2-font-color-light: rgb(245, 247, 250);
$brand2-font-color-dark: rgb(10,10,10);
// font colors
$font-color-light: rgb(245, 247, 250);
$font-color-dark: rgb(10,10,10);