@import "typography";
@import "globals";
@import "colors";
@import "effects";

:root {
    --bg-image: url(/kaffediemlogo.png);
    --bg-image-christmas: url(/order-display/app/nisse.jpeg);
}

// navne div
.name {
    font-size: 2rem;
    margin: 0.25rem;
    border: 0.05rem solid black;
    border-radius: 0.25rem;
    padding: 0.5rem;
    text-align: center;
    opacity: 1;
    transition: opacity 4000ms;
    will-change: opacity;
    background: white;
}
.active {
    border-radius: 0.5rem;
    width: 100%;
    height: 7rem;
    font-size: 4rem;
    padding: 1rem 0;
    transition: all 0.5s ease-in;
    opacity: 1;
}
.faded-out {
    opacity: 0;
}

#left,
#right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: hidden;
    .name {
        cursor: pointer;
        &:hover {
            border: 0.05rem solid rgb(188, 250, 188);
            // &:after {
            //     content: "➡️";
            //     padding-left: 0.5rem;
            // }
        }
    }
}

#right {
    .name {
        &:hover {
            border: 0.05rem solid rgb(250, 188, 188);
            // &::after {
            //     // content: "❌";
            // }
        }
    }
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "leftWrapper rightWrapper"
        "inputWrapper inputWrapper";
    background: var(--border-color-christmas);

    .left-wrapper,
    .right-wrapper {
        height: 90vh;
        display: flex;
        flex-direction: column;
        background: white;
        border: 1.5rem solid var(--border-color-christmas);

        .h2 {
            text-align: center;
            padding: 0.75rem;
        }
    }
    .left-wrapper {
        grid-area: leftWrapper;
        display: flex;
        flex-direction: column;
        //background-image: url(/order-display/app/nisse.jpeg);
        .counter {
            padding: 0.75rem;
            width: 100%;
            border-bottom: 1rem solid var(--border-color-christmas);
            #customerCounter {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 5rem;
            }
        }
        .left-container {
            padding: 0.75rem;
        }
    }
    .right-wrapper {
        grid-area: rightWrapper;
        border-left: 0;
        background-image: var(--bg-image);
        background-repeat: no-repeat;
        background-size: 55%;
        background-position: left bottom;
        .h2 {
            padding: 1.5rem;
        }
        & > * {
            padding: 0.75rem;
        }
    }

    .input-wrapper {
        grid-area: inputWrapper;
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
        input {
            font-size: 1.5rem;
            text-align: center;
            border: none;
            border-left: 1.5rem solid var(--border-color-christmas);
            border-right: 1.5rem solid var(--border-color-christmas);
            border-bottom: 1rem solid var(--border-color-christmas);
            outline: none;
            height: 100%;
            width: 100%;
        }
    }
}
